.Footer{
    background-color: #0D6EFD;
    height: 50px;
    width: 100vw;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
  
    

}